@import "tailwindcss";

@keyframes shimmerText {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.shimmer-text {
  background-image: linear-gradient(to right, #ec4899, #facc15, #ec4899);
  background-size: 200% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: shimmerText 3s linear infinite;
}

@keyframes blob {
  0% { 
    transform: translate(0px, 0px) scale(1); 
  }
  33% { 
    transform: translate(30px, -50px) scale(1.1); 
  }
  66% { 
    transform: translate(-20px, 20px) scale(0.9); 
  }
  100% { 
    transform: translate(0px, 0px) scale(1); 
  }
}

.animate-blob {
  animation: blob 7s infinite;
}

.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}
